body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  width: 100%;
  max-height: 70px;
}

@media only screen and (min-width: 1300px) {
  body header {
    max-width: 900px;
  }
}

body main {
  width: 100%;
  min-height: 85vh;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
}

body main .search-bar-wrapper {
  background-color: #2d2d2d;
}

body main .search-bar-wrapper h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

body main .search-bar-wrapper input {
  padding: 10px 10px;
  border-radius: 15px 0 0 15px;
  border: none;
}

body main .search-bar-wrapper button {
  padding: 10px;
  border-radius: 0 15px 15px 0;
  background-color: #f7941d;
  color: white;
  border: none;
}

body main .search-bar-wrapper p {
  padding-top: 20px;
  padding-bottom: 20px;
}

body main .searchResult {
  color: black;
}

body main .searchResult .warn {
  color: red;
  font-weight: 700;
}

body main .output {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 3rem;
  width: 100%;
}

body main .output .songDisplayBox {
  width: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: contain;
  padding: 20px;
}

body main .output .songDisplayBox .imgBox {
  width: 33.3%;
  height: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .output .songDisplayBox .imgBox .songIMG {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

body main .output .songDisplayBox .songDescription {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  height: 140px;
  width: 66.7%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

body main .output .songDisplayBox .songDescription .songName {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

body main .output .songDisplayBox:hover {
  border: 3px #f7941d solid;
  padding: 17px;
}

body main .output .songDisplayBox:hover .songDescription .songName {
  overflow: visible;
  text-overflow: ellipsis;
}

body main .button-box {
  margin-top: 30px;
  margin-bottom: 120px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .button-box .btnContainer .pagButton {
  background-color: #f7941d;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  border: none;
}

@media only screen and (min-width: 1300px) {
  body main .output {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
  body main .output {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

body footer {
  margin-top: 5vh;
  text-align: center;
  color: white;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

body footer .footer-text {
  padding: 10px;
}

body footer .line {
  width: 30px;
  height: 0px;
  border: 1px white solid;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */