body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main {
  width: 100%;
  min-height: 100vh;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  padding-top: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

body .main__wrapper-searchResult {
  color: black;
  width: 100%;
}

body .main__wrapper-searchResult .warn {
  color: red;
  font-weight: 700;
}

body .main__wrapper-output {
  margin-right: auto;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40%;
}

body .main__wrapper-output-display-song {
  margin: 10px 0;
  border: 2px solid black;
  width: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main__wrapper-output-display-song-img {
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

body .main__wrapper-output-display-song-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

body .main__wrapper-output-display-song-btn {
  margin-right: 5px;
  color: white;
  background-color: white;
  border: none;
}

body .main__wrapper-output-display-song-btn-hr {
  border: 2px black solid;
  margin: 3px 0;
  width: 30px;
}

body .main__wrapper-output-display-song-btn:hover {
  background-color: #d4e6f1;
  cursor: pointer;
}

body .main__wrapper-output-display-song:hover {
  border: 2px #3e8dbb solid;
  background-color: #d4e6f1;
}

body .main__wrapper-output-display-song:hover-btn:hover {
  background-color: #d4e6f1;
}

body .main__wrapper-button-box {
  margin-top: 30px;
  margin-bottom: 120px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main__wrapper-button-box-pagination {
  background-color: #3e8dbb;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  border: none;
}

@media only screen and (min-width: 1300px) {
  body .main__wrapper .output {
    -ms-grid-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
  body .main__wrapper .output {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

body .main__menu {
  background-color: #1f2e57;
  width: 20%;
  min-width: 300px;
}

body .main__menu-title {
  padding-top: 30px;
  padding-bottom: 10px;
}

body .main__menu-input {
  padding: 10px 10px;
  border-radius: 15px 0 0 15px;
  border: none;
}

body .main__menu-button {
  padding: 10px;
  border-radius: 0 15px 15px 0;
  background-color: #3e8dbb;
  color: white;
  border: none;
}

body .main__menu-button:hover {
  background-color: #1b6088;
}

body .main__menu-p {
  padding-top: 20px;
  padding-bottom: 20px;
}

body .main__menu-display {
  margin-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 20px 0;
  background-color: #d4e6f1;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main__menu-display-box {
  width: 33%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

body .main__menu-display-box-imgBox {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main__menu-display-box-imgBox-img {
  width: 200px;
  height: auto;
  border: 3px solid black;
}

body .main__menu-display-box-desc {
  height: 100%;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

body .main__menu-display-box-desc-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .main__menu-display-box-desc-btn {
  padding: 10px;
  border-radius: 15px;
  background-color: #3e8dbb;
  color: white;
  border: none;
}
/*# sourceMappingURL=style.css.map */